.controls-wrapper {
  display: flex;

  width: 50%;
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.action-btn  {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {

  display: flex;
  position: relative;
  bottom: 5px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #68b535;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset -4px -4px 10px #70b61f, inset 4px 4px 10px 1px #bdff9a;
svg{
  width: 30px;
  height: 30px;
}
}

.play-pause-btn.active {
  box-shadow: inset -4px -4px 10px #24a105, inset 4px 4px 10px 1px #15350e;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
